<div style="margin-left:5%; margin-right: 10% ;margin-top: 10%">
  <table  class="table">
      <thead>
        <tr>
          <th scope="col">Usuário</th>
          <th scope="col">Tipo de reciclável</th>
          <th scope="col">Status da coleta</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coleta of coletasAgendadas">
          <td>{{coleta.usuario.nome}}</td>
          <td>{{coleta.tipoReciclavel}}</td>
          <td>
            <select class="form-control" [(ngModel)]="coleta.status">
              <option [value]="PENDENTE">Pendente</option>
              <option [value]="AGENDADA">Agendada</option>
              <option [value]="COLETADA">Coletada</option>
          </select>
          </td>
          <td><button type="button" (click)="editarColeta(coleta)" class="btn btn-primary">Editar</button></td>
        </tr>
      </tbody>
    </table>
  </div>