<div *ngIf="editar" class="centro">
    <div class="form-cadastro">
  
        <div class="form-group col-4">
          <input [(ngModel)]="item.codItem" class="form-control" type="text"  id="codItem" name="codItem" placeholder="Código Item" >
        </div>
        
        <div class="form-group col-4">
        <input [(ngModel)]="item.nome" class="form-control" type="text"  id="nomeItem" name="nomeItem" placeholder="Nome Item" >
        </div>
  
        <div class="form-group col-4">
          Tipo Renderização: 
        <br>
          <p><input type="radio" value="radio" name="tipoRenderizacao"  [(ngModel)]="item.tipoRenderizacao"> Radio  </p>
          <p><input type="radio" value="input" name="tipoRenderizacao" [(ngModel)]="item.tipoRenderizacao"> Input </p>
          <p><input type="radio" value="select" name="tipoRenderizacao"  [(ngModel)]="item.tipoRenderizacao"> Select </p>
          <p><input type="radio" value="checkbox" name="tipoRenderizacao" [(ngModel)]="item.tipoRenderizacao"> Checkbox </p>
        </div>

        <div class="form-group col-4">
            Item obrigatório: <input type="checkbox" name="obrigatorio" [(ngModel)]="item.obrigatorio">
        </div> 

        <div class="container centro">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="list-group" id="list1">
                        <button class="list-group-item active">Alternativas <input title="toggle all" type="checkbox" class="all float-right"></button>
                        <div *ngFor="let alternativa of alternativas;"> 
                            <button style="width: 350px" class="list-group-item">{{alternativa.texto}}<input (click)="selecionarAlternativas(alternativa.codAlternativa)" type="checkbox" class="float-right"></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 v-center">
                    <button (click)="adicionarAlternativas()" class="btn btn-default center-block add">Adicionar</button>
                    <button (click)="removerAlternativas()" class="btn btn-default center-block remove">Remover</button>
                </div>
                <div class="col-sm-4">
                    <div class="list-group" id="list2">
                        <button class="list-group-item active">Alternativas selecionadas<input title="toggle all" type="checkbox" class="all float-right"></button>
                        <div *ngFor="let alternativaSelecionada of alternativasSelecionadas"> 
                            <button style="width: 350px" class="list-group-item">{{alternativaSelecionada.texto}}<input (click)="desselecionarAlternativas(alternativaSelecionada.codAlternativa)" type="checkbox" class="float-right"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="alternativasSelecionadas.length > 0" class="form-group col-4">
            Alternativa correta:
            <select class="form-control" [(ngModel)]="item.alternativaCorretaId">
                <option *ngFor="let alternativaSelecionada of alternativasSelecionadas" [value]="alternativaSelecionada.objectId">{{alternativaSelecionada.texto}}</option>
            </select>
        </div>

        <div class="form-group col-4">
            <input [(ngModel)]="item.texto" class="form-control" type="text"  id="texto" name="texto" placeholder="Texto Alternativa" >
        </div>
        
        <div class="form-group col-4">
            <button (click)="salvarItem()" type="button" class="btn btn-primary">Salvar</button> <button (click)="fecharCadastro()" type="button" class="btn btn-danger">Cancelar</button>
        </div> 
  
    </div>
      
</div>
  
<div style="margin-left:5%; margin-right: 10% ;margin-top: 10%" *ngIf="!editar">
  <button style="margin-bottom:2%;" type="button" (click)="cadastrarItem()" class="btn btn-primary">Novo Item</button>
  <table  class="table">
      <thead>
        <tr>
          <th scope="col">Código Item</th>
          <th scope="col">Nome Item</th>
          <th scope="col">Tipo Renderização</th>
          <th scope="col">Obrigatório</th>
          <th scope="col">Alternativas</th>
          <th scope="col">Alternativa correta</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td>{{item.codItem}}</td>
          <td>{{item.nome}}</td>
          <td>{{item.tipoRenderizacao}}</td>
          <td>{{item.obrigatorio}}</td>
          <td>
            <select class="form-control">
                <option *ngFor="let alternativa of item.alternativas" >{{alternativa.texto}}</option>
            </select>
          </td>
          <td>{{item.alternativaCorreta.texto}}</td>
          <td><button type="button" (click)="editarItem(item)" class="btn btn-primary">Editar</button> <button (click)="removerItem(item)" type="button" class="btn btn-danger">Remover</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  