<div *ngIf="editar" class="centro">
  <div class="form-cadastro">

      <div class="form-group col-4">
        <input [(ngModel)]="alternativa.codAlternativa" class="form-control" type="text"  id="name" name="name" placeholder="Código Alternativa" >
      </div>
      
      <div class="form-group col-4">
      <input [(ngModel)]="alternativa.texto" class="form-control" type="text"  id="sobrenome" name="sobrenome" placeholder="Texto Alternativa" >
      </div>

      <div class="form-group col-4">
        Tipo Alternativa: 
      <br>
        <p><input type="radio" value="texto" name="tipoAlternativa"  [(ngModel)]="alternativa.tipoAlternativa"> Texto  </p>
        <p><input type="radio" value="imagem" name="tipoAlternativa" [(ngModel)]="alternativa.tipoAlternativa"> Imagem </p>
        <p><input type="radio" value="html" name="tipoAlternativa"  [(ngModel)]="alternativa.tipoAlternativa"> HTML </p>

      </div>


      <div class="form-group col-4">
          <button (click)="salvarAlternativa()" type="button" class="btn btn-primary">Salvar</button> <button (click)="fecharCadastro()" type="button" class="btn btn-danger">Cancelar</button>
      </div> 

  </div>
    
</div>
<div style="margin-left:5%; margin-right: 10% ;margin-top: 10%" *ngIf="!editar">
<button style="margin-bottom:2%;" type="button" (click)="cadastrarAlternativa()" class="btn btn-primary">Nova Alternativa</button>
<table  class="table">
    <thead>
      <tr>
        <th scope="col">Código Alternativa</th>
        <th scope="col">Texto Alternativa</th>
        <th scope="col">Tipo Alternativa</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alternativa of alternativas">
        <th>{{alternativa.codAlternativa}}</th>
        <td>{{alternativa.texto}}</td>
        <td>{{alternativa.tipoAlternativa}}</td>
        <td><button type="button" (click)="editaAlternativa(alternativa)" class="btn btn-primary">Editar</button> <button (click)="removerAlternativa(alternativa)" type="button" class="btn btn-danger">Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>
