<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">ReciclaMinas - Coleta</a>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div (click)="setTitulo('Coleta')" style="cursor:pointer" class="nav-link" [routerLink]="['/coletas']">Coletas Agendadas</div>
      </li>
    </ul>
  </div>
  <h3 class="titulo">{{titulo}}</h3>
</nav>
<router-outlet></router-outlet>


