<div *ngIf="editar" class="centro">
    <div class="form-cadastro">

        <div class="form-group col-4">
          <input [(ngModel)]="estudante.nome" class="form-control" type="text"  id="name" name="name" placeholder="Name" >
        </div>
        
        <div class="form-group col-4">
        <input [(ngModel)]="estudante.sobrenome" class="form-control" type="text"  id="sobrenome" name="sobrenome" placeholder="Sobrenome" >
        </div>
        
        <div class="form-group col-4">
        <input [(ngModel)]="estudante.email" class="form-control" type="text"  id="email" name="email" placeholder="E-mail" >
        </div>
        <div class="form-group col-4">
            <button (click)="salvarEstudante()" type="button" class="btn btn-primary">Salvar</button> <button (click)="fecharCadastro()" type="button" class="btn btn-danger">Cancelar</button>
        </div> 

    </div>
      
</div>
<div style="margin-left:5%; margin-right: 10% ;margin-top: 10%" *ngIf="!editar">
  <button style="margin-bottom:2%;" type="button" (click)="cadastrarEstudante()" class="btn btn-primary">Novo Estudante</button>
  <table  class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudante of estudantes">
          <th>{{estudante.nome}}</th>
          <td>{{estudante.sobrenome}}</td>
          <td>{{estudante.email}}</td>
          <td><button type="button" (click)="editaEstudante(estudante)" class="btn btn-primary">Editar</button> <button (click)="removerEstudante(estudante)" type="button" class="btn btn-danger">Remover</button></td>
        </tr>
      </tbody>
    </table>
</div>
