.centro{
    text-align: center;
}
.form-cadastro{
        margin-top: 10%; 
        margin-left: 40%;
}

.v-center {
    min-height:200px;
    display: flex;
    justify-content:center;
    flex-flow: column wrap;
  }

.container {
    margin-top: 6%;
    margin-bottom: 6%;
    max-width: 1140px;
    margin-left: -287px;
}