<div *ngIf="editar" class="centro">
  <div class="form-cadastro">

      <div class="form-group col-4">
        <input [(ngModel)]="prova.nome" class="form-control" type="text"  id="nome" name="nome" placeholder="Nome da Prova" >
      </div>
      
      <div class="form-group col-4">
        <input class="form-control" [(ngModel)]="prova.dataInicio"  type="date"  id="dataInicio" name="dataInicio" placeholder="Data Inicio" >
      </div>

      <div class="form-group col-4">
        <input [(ngModel)]="prova.dataFim" class="form-control" type="date"  id="dataFim" name="dataFim" placeholder="Data Fim" >
      </div>
      
      <div class="container centro">
          <div class="row">
              <div class="col-sm-4 col-sm-offset-1">
                  <div class="list-group" id="list1">
                      <button class="list-group-item active">Itens <input title="toggle all" type="checkbox" class="all float-right"></button>
                      <div *ngFor="let item of itens;"> 
                          <button style="width: 350px" class="list-group-item">{{item.texto}}<input (click)="selecionarItens(item.codItem)" type="checkbox" class="float-right"></button>
                      </div>
                  </div>
              </div>
              <div class="col-md-2 v-center">
                  <button (click)="adicionarItens()" class="btn btn-default center-block add">Adicionar</button>
                  <button (click)="removerItens()" class="btn btn-default center-block remove">Remover</button>
              </div>
              <div class="col-sm-4">
                  <div class="list-group" id="list2">
                      <button class="list-group-item active">Itens selecionados<input title="toggle all" type="checkbox" class="all float-right"></button>
                      <div *ngFor="let itemSelecionado of itensSelecionados"> 
                          <button style="width: 350px" class="list-group-item">{{itemSelecionado.texto}}<input (click)="desselecionarItens(itemSelecionado.codItem)" type="checkbox" class="float-right"></button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="form-group col-4">
          <button (click)="salvarProva()" type="button" class="btn btn-primary">Salvar</button> <button (click)="fecharCadastro()" type="button" class="btn btn-danger">Cancelar</button>
      </div> 

  </div>
    
</div>

<div style="margin-left:5%; margin-right: 10% ;margin-top: 10%" *ngIf="!editar">
<button style="margin-bottom:2%;" type="button" (click)="cadastrarProva()" class="btn btn-primary">Nova Prova</button>
<table  class="table">
    <thead>
      <tr>
        <th scope="col">Nome da Prova</th>
        <th scope="col">Data Início</th>
        <th scope="col">Data Fim</th>
        <th scope="col">Itens</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prova of provas">
        <td>{{prova.nome}}</td>
        <td>{{prova.dataInicio}}</td>
        <td>{{prova.dataFim}}</td>
        <td>
          <select class="form-control">
              <option *ngFor="let item of prova.itens" >{{item.texto}}</option>
          </select>
        </td>
        <td><button type="button" (click)="editarProva(prova)" class="btn btn-primary">Editar</button> <button (click)="removerProva(prova)" type="button" class="btn btn-danger">Remover</button></td>
      </tr>
    </tbody>
  </table>
</div>
