<div class="centro">
    <div class="form-cadastro">
          <div class="form-group col-4">
            Estudante:
            <select class="form-control" [(ngModel)]="estudanteId" (change)="setEstudante()">
                <option *ngFor="let estudante of estudantes" [value]="estudante.objectId">{{estudante.nome}}</option>
            </select>
          </div>
          
          <div class="form-group col-4">
            Prova:
            <select class="form-control" [(ngModel)]="provaId" (change)="setAvaliacao()">
                <option *ngFor="let prova of provas" [value]="prova.objectId">{{prova.nome}}</option>
            </select>
          </div>
          
          <div *ngIf="avaliacao.prova" class="form-group col-4">
              {{avaliacao.prova.nome}} 
              <div *ngFor="let item of avaliacao.prova.itens">
                
                <div *ngIf="item.tipoRenderizacao === 'input'">
                  {{item.nome}}
                  <div *ngFor="let alternativa of item.alternativas" class="form-group col-4">
                      {{alternativa.texto}} <input class="form-control" type="text">
                  </div>
                </div>
                <div *ngIf="item.tipoRenderizacao === 'select'">
                  {{item.nome}}
                  <select class="form-control" [(ngModel)]="idResposta" (change)="setRespostaEstudante(item.alternativaCorretaId, item.objectId)">
                      <option *ngFor="let alternativa of item.alternativas" [value]="alternativa.objectId">{{alternativa.texto}}</option>
                  </select>
                </div>
                <div *ngIf="item.tipoRenderizacao === 'checkbox'">
                  {{item.nome}}  
                  <div *ngFor="let alternativa of item.alternativas" class="form-group col-4">
                  {{alternativa.texto}}<input (change)="setRespostaEstudante(item.alternativaCorretaId, item.objectId)" [(ngModel)]="idResposta" [value]="alternativa.objectId" class="form-control" type="checkbox">
                  </div>
                </div>
                <div *ngIf="item.tipoRenderizacao === 'radio'">
                  {{item.nome}}
                  <div *ngFor="let alternativa of item.alternativas" class="form-group col-4">
                    {{alternativa.texto}}<input (change)="setRespostaEstudante(item.alternativaCorretaId, item.objectId)" [(ngModel)]="idResposta" [value]="alternativa.objectId" class="form-control" type="radio">
                  </div>
                </div>

              </div>   
          </div>
          <div class="form-group col-4">
              <button (click)="salvarAvaliacao()" type="button" class="btn btn-primary">Enviar Prova</button> 
          </div> 
    </div>
</div>